<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="en-US" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US" class="no-js"><!--<![endif]-->

<head>

  <!-- metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="{{ }}article"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{% if page.tagline %}{{page.tagline}}{% endif %}"/>
  <meta property="og:url" content="http://www.kcavagnolo/blog{{ page.url }}"/>
  <meta property="og:article:published_time" content="{{ page.date }}"/>
  <meta property="og:article:author" content="{{ page.author }}"/>
  
  <!-- site info -->
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="keywords" content="Ken, Kenneth, Cavagnolo, scientist, product, manager, astrophysicist, physics, developer, data, programmer, engineer, Atlanta, Knoxville, Austin, Michigan State, Georgia Tech, PhD, Ph.D., resume, CV, publications, speaker, python, R, C++, C, SQL, NoSQL, Hadoop, Spark, JavaScript, Cassandra, node.js, d3.js, machine learning, analytics, math, statistics, science">
  
  <!-- site functionality -->
  <link rel="canonical" href="http://kcavagnolo.com">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="http://www.kcavagnolo.com/xmlrpc.php">
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/loadCSS.js"></script>
  <script>loadCSS( "http://www.kcavagnolo.com/css/bootstrap.min.css" )</script>
  <script>loadCSS( "http://www.kcavagnolo.com/css/kcavagnolo.min.css" )</script>
  <script>loadCSS( "http://www.kcavagnolo.com/font-awesome/css/font-awesome.min.css" )</script>
  <script>loadCSS( "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" )</script>
  <script>loadCSS( "http://www.kcavagnolo.com/css/code.min.css" )</script>
  
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="http://www.kcavagnolo.com/public/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://www.kcavagnolo.com/public/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://www.kcavagnolo.com/public/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://www.kcavagnolo.com/public/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://www.kcavagnolo.com/public/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://www.kcavagnolo.com/public/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://www.kcavagnolo.com/public/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://www.kcavagnolo.com/public/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://www.kcavagnolo.com/public/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="http://www.kcavagnolo.com/public/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://www.kcavagnolo.com/public/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="http://www.kcavagnolo.com/public/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="http://www.kcavagnolo.com/public/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="http://www.kcavagnolo.com/public/manifest.json">
  <link rel="shortcut icon" href="http://www.kcavagnolo.com/public/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="public/mstile-144x144.png">
  <meta name="msapplication-config" content="public/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  
  <!-- javascripts -->
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/grayscale.js"></script>
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://www.kcavagnolo.com/wp_content/js/ganalytics.js"></script>

  <!-- atom & rss feed -->
  <link type="application/atom+xml" rel="alternate" href="{{ BASE_PATH }}{{ site.JB.atom_path }}" title="Sitewide ATOM Feed">
  <link type="application/rss+xml" rel="alternate" href="{{ BASE_PATH }}{{ site.JB.rss_path }}" title="Sitewide RSS Feed">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-blog navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
	  <i class="fa fa-bars" style="color: #fff;"></i>
	</button>
	<a class="navbar-brand page-scroll" href="/">
	  <i class="fa fa-circle-o-notch"></i>  <span class="light">K</span>Cavagnolo
	</a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	<ul class="nav navbar-nav">
	  <li class="hidden">
            <a href="{{ HOME_PATH }}"></a>
	  </li>
	  {% assign pages_list = site.pages %}
	  {% assign group = 'navigation' %}
	  {% include JB/pages_list %}
	</ul>
      </div>
    </div>
  </nav>

  <section id="test_anchor" class="about">
    <div class="container">
      {{ content }}
    </div>
  </section>
  
  <footer>
    <div class="container">
      <div class="row">
	<div class="col-lg-10 col-lg-offset-1 text-center">
          <p class="text-muted">
	    &copy; {{ site.time | date: '%Y' }} Posts are licensed under <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
	  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
	</div>
      </div>
    </div>
  </footer>

  {% include JB/analytics %}
  
  </body>

</html>
